services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: AI_chat_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./storage/qdrant:/qdrant/storage
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}
    restart: always
    healthcheck:
      test: ["CMD", "sh", "-c", "timeout 5s bash -c '</dev/tcp/127.0.0.1/6333'"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  neo4j:
    image: neo4j:latest
    container_name: AI_chat_neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./storage/neo4j/data:/data
      - ./storage/neo4j/logs:/logs
      - ./storage/neo4j/plugins:/plugins
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_dbms_memory_heap_initial__size=512m
      - NEO4J_dbms_memory_heap_max__size=2G
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:7474 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  redis:
    image: redis:latest
    container_name: AI_chat_redis
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis/data:/data
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 5s

  ollama:
    image: ollama/ollama:latest
    container_name: AI_chat_ollama
    ports:
      - "11434:11434"
    volumes:
      - ./storage/ollama:/root/.ollama
    restart: always
    healthcheck:
      test: ["CMD", "/bin/ollama", "list"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 10s

  postgres:
    image: postgres:17
    container_name: AI_chat_postgres
    ports:
      - "5432:5432"
    volumes:
      - ./storage/postgres/data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis-gui:
    image: redislabs/redisinsight:latest
    container_name: AI_chat_redis_gui
    ports:
      - "127.0.0.1:5540:5540"
    volumes:
      - ./storage/redis_insight:/data
    depends_on:
      - redis
    restart: always
