# Database
POSTGRESQL="postgresql+asyncpg://db_user:user_password@localhost:5432/project_db"

# JWT Configuration
SECRET_KEY=""
ALGORITHM="HS256"

# Openai API
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.openai.com/v1"

# Openrouter API
OPENROUTER_API_KEY=""
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# Model
MODEL=""
