# Database
POSTGRESQL="postgresql+asyncpg://db_user:user_password@localhost:5432/project_db"

# JWT Configuration
SECRET_KEY=""
ALGORITHM="HS256"

# Openai API
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.openai.com/v1"

# Openrouter API
OPENROUTER_API_KEY=""
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# Model
MODEL=""

# QDRANT connections
QDRANT_URL=""
QDRANT_API_KEY=""

# NEO4J connections
NEO4J_PASSWORD=
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j

# Ollama connections
OLLAMA_URL=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text:latest

# Memory settings
MODEL_FOR_MEMO="google/gemini-2.5-flash-lite-preview-09-2025"
MEMORY_COLLECTION_PREFIX=mem0_memories
API_MEM0_ONLINE=""
